@media (max-width: 1083px) {
	main {
		font-size: .9em;
	}
	h1 {
		font-size: 1.2em;
	}
	h3 {
		font-size: 1em;
	}
	header > nav {
		width: 500px;
	}
	header > nav::-webkit-scrollbar {
	  	height: 4px;
	}
}


body {
	background: #232427 url(../files/background-2.jpg) bottom center no-repeat fixed;
	color: #eee;
	font: 14px/1.5 "Verdana", "Arial", sans-serif;
}
header, h1, main > h2, main > h3, footer {
	text-align: center;
}
main {
	background-color: rgba(16, 16, 20, 0.85);
	margin: 2%;
	border: 3px solid #444;
	border-radius: 3%;
	padding: 2% 3%;
	transition: font-size .3s linear;
}
h1 {
	font-size: 2em;	
}
h3 {
	font-size: 1.4em;
}
header {
	height: 70px;
	position: relative;
}
header > h1, header > nav {
	position: absolute;
}
header > h1 {
	font-size: 2.4em;
	left: 40px;
	top: -12px;
}
header > nav {
	font-size: 1.25em;
	right: 20px;
	top: 28px;
	white-space: nowrap;
	overflow: auto;
}
abbr {
	cursor: help;
}
.header_hr, .footer_hr {
	width: 98%;
	border-color: #aaa;
	border-radius: 50%;
}
footer#index {
	margin-top: 2%;
}
a {
	font-weight: bold;
	text-decoration-line: none;
}
a#index_link, a#index_link:visited, a#index_link:hover {
	color: #eee;
}
nav > a {
	display: inline-block;
}
nav > a, a.back_link {
	transition: .3s;
	color: #c1c1c1;
	padding: 4px 8px 4px 8px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 15px;
}
nav > a:visited, a.back_link:visited {
	color: #bbb;
}
p > a:visited, li > a:visited {
	color: #888;
}
nav > a:hover, a.back_link:hover{
	background-color: white;
	color: black;
}
p > a, li > a {
	transition: .1s;
	color: #777;
}
p > a:hover, li > a:hover {
	color: #fff;
}
ul > li {
	margin: 8px 0;
}
q {
	font-style: italic;
}
q.lorebook {
	display: block;
	width: 650px;
	margin: 15px;
	margin-right: 0;
	border-radius: 15px;
	border-left: 3px solid white;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 20px;
	background-color: rgba(5, 5, 10, 1);
	font-size: 1.15em;
}
main > section {
	margin: 0px 15px 0px 15px;
}
main > p, main > section > p {
	text-indent: 1.25em;
}
main > section, main > p {
	padding-left: 6px;
}
section > h2 {
	margin: 0;
	margin-top: 30px;
}
h2#char_name {
	margin: 10px 0;
	font-size: 1.8em;
	letter-spacing: .1em;
}
section > hr {
	margin-bottom: 20px;
	border-color: #222;
}
section.bio > figure {
	float: right;
	width: 30%;
 	background-color: #141414;
 	border: 2px solid #777;
 	border-radius: 10px;
 	padding: 15px 0 15px 0;
}
section.bio > figure > img, section.bio > figure > figcaption {
	margin-left: auto;
	margin-right: auto;
}
section.bio > figure > img {
	display: block;
	padding: 30px;
}
section.bio > figure > figcaption {
	text-align: center;
	width: 80%;
}
img#alice {
	width: 50%;
}
img#jane {
	width: 80%;
}
img#pandemonica, img#willow {
	width: 55%;
}
div#alice_official_skins, div#alice_dlc_skins, div#willow_skins {
	text-align: center;
	margin: 20px 0;
}
.image_table_row {
	float: left;
}
.image_table_row > img {
	background-color: #141414;
	border: 2px solid gray;
	border-radius: 15px;
	padding: 15px;
	cursor: pointer;
}
.image_table_row > img:hover {
	background-color: #999;
}
div#alice_official_skins > .image_table_row {
	width: 20%;
}
div#alice_dlc_skins > .image_table_row {
	width: 16.6%;
}
div#alice_official_skins > .image_table_row > img {
	width: 50%;
}
div#alice_dlc_skins > .image_table_row > img {
	width: 60%;
}
div#willow_skins > .image_table_row {
	width: 14.2%;
}
div#willow_skins > .image_table_row > img {
	width: 75%;
}
.image_table_row > img + p {
	display: inline-block;
	font-size: 1.1em;
	margin-bottom: 20px;
	width: 120px;
}
em.image_caption {
	font-size: .9em;
}
#clear_float {
	clear: both;
}

div#image_container {
	position: fixed;
	background: rgba(0, 0, 0, 0.95);
	display: none;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
img.image_fullscreen.willow, img.image_fullscreen.alice {
	background-color: black;
	display: block;
	border: 2px solid gray;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}
img.image_fullscreen.willow {
	padding: 50px 150px;
	margin-top: 11%;
	width: 20%;
}

img.image_fullscreen.alice {
	padding: 30px 100px;
	margin-top: 3%;
	width: 15%;
}

/* scrollbar width */
::-webkit-scrollbar {
  	width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  	background: #777;
  	border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  	background: #444;
}


form {
	background: black;
	border: 2px solid white; 
	padding: 15px;
}
form > fieldset {
	border-radius: 3%;
}
input[type="text"] {
	border-radius: 10%;
	padding: 8px 12px 8px 12px;
}

