@media screen and (max-width: 550px) {
	header > h1 {
		margin: auto;
		margin-top: 7%;
		font-size: 1.8em;
	}
	header > nav {
		display: none;
	}


	aside {
		display: block;
	}
	#sidebar_toggle {
		display: block;
		position: fixed;
		top: 0;
		z-index: 2;
		border: none;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		padding: 5px 15px;
		background-color: #000;
		transition: left 0.3s linear;
	}
	#sidebar_toggle.inactive {
		left: 0;
	}
	#sidebar_toggle.active {
		left: 58%;
	}
	#sidebar_toggle > img {
		filter: invert(100%) sepia(63%) saturate(0%) hue-rotate(65deg) brightness(105%) contrast(101%);
		width: 24px;
	}
	.overlay {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: #000;
		opacity: 0.5;
	}
	.overlay.hidden {
		display: none;
	}
	.overlay.visible {
		display: block;
	}
	#aside_content {
		position: fixed;
		top: 0;
		z-index: 2;
		width: 60%;
		height: 100%;
		padding: 10% 0;
		background-color: #000;
		transition: left 0.3s linear;
	}
	#aside_content.hidden {
		left: -100%;
	}
	#aside_content.visible {
		left: 0;
	}
	#aside_content > ul {
		padding-inline-start: 0;
		list-style: none;
	}
	#aside_content > ul > li {
		margin: 8% 0;
		padding: 2% 4%;
	}
	#aside_content > ul > li > a {
		color: #fff;
	}
	#aside_content > ul > hr {
		border-color: #333;
	}


	main {
		margin: 5% 0;
	}
	main > h2 {
		font-size: 1.2em;
	}
	main > section {
		margin: 0 10px;
	}


	section.bio > figure {
		float: none;
		width: auto;
	}

	q.lorebook {
		width: 90%;
	}


	img#alice {
		width: 75%;
	}
	img#jane {
		width: 95%;
	}
	img#pandemonica, img#willow {
		width: 80%;
	}
	.image_table_row {
		margin: 0 10px;
	}
	.image_table_row > img {
		border-radius: 10px;
		padding: 5px;
	}
	div#alice_official_skins > .image_table_row, div#alice_dlc_skins > .image_table_row {
		width: 40%;
	}
	div#alice_official_skins > .image_table_row > img, div#alice_dlc_skins > .image_table_row > img {
		width: 100%;
	}
	div#willow_skins > .image_table_row {
		width: 40%;
	}
	div#willow_skins > .image_table_row > img {
		width: 100%;
	}

	img.image_fullscreen.willow {
		padding: 3%;
		margin-top: 58%;
		width: 70%;
	}
	img.image_fullscreen.alice {
		padding: 3%;
		margin-top: 18%;
		width: 60%;
	}
}