div.locale_switcher {
	display: flex;
	align-items: center;

	select, ::picker(select) {
		appearance: base-select;
	}

	select#lang_switch {
        position: fixed;
        top: 0;
        right: 0;
		z-index: 3;
		border: none;
		border-radius: 5px;
		padding: 5px 1.6vw;
		color: #fff;
		font-size: 2em;
		background-color: #000;
		cursor: pointer;

		option {
			display: block;
			border-left: 2px solid #666;
			border-right: 2px solid #666;
			padding: .5vh .5vw;
			text-align: left;
			background-color: #000;
			color: #fff;
		}

		option:hover {
			background-color: #222;
		}

		option::checkmark {
			display: none;
		}

		option:first-child {
			border-top: 2px solid #666;
		}

		option:last-child {
			border-bottom: 2px solid #666;
		}
	}

	select#lang_switch::picker-icon {
		margin-top: .1em;
		color: #fff;
		font-size: .9em;
	}

	select#lang_switch:open::picker-icon {
		rotate: 180deg;
	}

	select#lang_switch:hover {
		background-color: #222;
	}

	::picker(select) {
		border: none;
	}
}

@media screen and (max-width: 550px) {
	div.locale_switcher {
		select#lang_switch {
			border: 2px solid #666;
			padding: 5px 5vw;
			font-size: 1.4em;
			
			option {
				padding-inline: 3vw;
			}
		}
	}
}