@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scrollbar-width: thin;
	scrollbar-color: #aaa #000;
}

body {
	background: url(../files/background-2.jpg) bottom center no-repeat fixed;
	background-size: cover;
	background-color: #000;
	color: #eee;
	font: 14px/1.5 "Roboto", "Arial", sans-serif;
	overflow-x: hidden;
	overflow-y: scroll;
}


main {
	padding: 2vh 1vw;
	background-color: rgba(0, 0, 0, 0.85);
}

section#intro {
	position: relative;
	width: 60%;
	height: 30vh;
	padding: 0 3vw;
	background-color: rgba(0, 0, 0, 0.85);

	div {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;

		h1 {
			font-size: 3em;
		}

		hr {
			margin-bottom: 10px;
		}

		p {
			font-size: 1.4em;
		}
	}
}

section#info_and_skills {
	display: flex;
	justify-content: space-between;

	div {
		margin-top: 3vh;
		border: 3px solid #333;
		border-radius: 4px;
		background-color: rgba(16, 16, 20, 1);

		h2 {
			margin-top: 2vh;
			font-size: 2.6em;
			text-align: center;
		}

		hr {
			width: 90%;
			margin: auto;
			border: 2px solid #666;
		}

		ul {
			padding: 2vh 3vw;
			font-size: 1.4em;

			li {
				margin-block: .5vh;
			}
		}
	}
	
	div#about_me {
		width: 33%;
	}

	div#major_skills, div#minor_skills {
		width: 33%;
	}
}

section#portfolio {
	margin-top: 3vh;
	border: 3px solid #333;
	border-radius: 4px;
	background-color: rgba(16, 16, 20, 1);

	h2 {
		margin-top: 2vh;
		font-size: 2.6em;
		text-align: center;
	}

	hr {
		width: 98%;
		margin: auto;
		border: 2px solid #666;
	}

	div#list {
		div.project {
			width: 98%;
			margin: 4vh auto;
			position: relative;
			display: flex;
			align-items: center;
			cursor: pointer;
			font-size: 1.3em;

			div.overlay > a {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 2;
			}

			div.preview_image {
				width: 20%;
				height: 100%;
				margin-right: 1vw;

				img {
					width: 100%;
					height: 100%;
				}
			}

			div.info {
				width: 82%;

				h3 {
					font-size: 1.6em;
				}

				p {
					margin-block: 5px;
				}

				div > span {
					margin-right: 5px;
					border: 1px solid #888;
					border-radius: 5px;
					padding: 1px 4px;
					font-size: 0.75em;
				}
			}
		}

		div.project:hover {
			background-color: #444;
		}

		div.project:active {
			background-color: #333;
		}
	}
}

footer {
	background-color: rgba(0, 0, 0, 1);
	color: #ddd;

	div.flex_container {
		display: flex;
		padding: 3vh 10vw 1vh 10vw;

		div.left, div.right {
			div {
				display: flex;
				align-items: center;

				span {
					font-size: 1.2em;
				}

				
			}
		}

		div.left {
			width: 30%;
			padding-left: 1vw;
			font-weight: bold;

			img {
				width: 40px;
				padding-right: 10px;
			}

			a {
				padding: 5px;
				text-decoration: none;
				color: #ddd;
			}

			a:hover {
				border-radius: 10px;
				background-color: #fff;
				color: #000;
			}
		}

		div.right {
			display: flex;
			justify-content: flex-end;
			width: 70%;

			div {
				margin: 0 0.5vw;

				span, span > a {
					color: #999;
					text-decoration: none;
				}

				span > a:hover {
					border-bottom: 1px solid #999;
				}

				span:not(.git)::before {
					content: "•";
					margin-right: 1vw;
				}
			}
		}
	}

	hr {
		width: 90%;
		margin: auto;
		margin-bottom: 1vh;
		border: 2px solid #333;
	}

	div#copyright {
		padding: 3vh 5vw;
		text-align: center;
		font-style: italic;
		color: #666;
	}
}
