@media screen and (max-width: 550px) {
	section#intro {
		position: static;
		width: 85%;
		height: 100%;
		padding: 0 2vw;
		padding-top: 2vh;

		div {
			position: static;
			transform: none;
			width: 100%;

			h1 {
				font-size: 2.6em;
				line-height: 1.2;
			}

			p {
				font-size: 1.3em;
			}
		}
	}

	section#info_and_skills, section#portfolio, section#resume {
		hr, div > hr {
			width: 94%;
			margin: auto;
			border: 2px solid #666;
		}

		h2, div > h2 {
			margin-top: 1vh;
			font-size: 2.2em;
		}
	}

	section#info_and_skills {
		flex-direction: column;

		div#about_me, div#major_skills, div#minor_skills {
			width: 98%;

			ul {
				padding-inline: 7vw;
				font-size: 1.2em;
			}
		}
	}

	section#portfolio {
		div#list {
			div.project {
				flex-direction: column;
				font-size: 1.2em;

				div.preview_image, div.info {
					width: 90%;
				}

				div.info {
					margin-top: 8px;
					text-align: center;
				}
			}
		}
	}

	section#resume {
		p {
			font-size: 1.4em;
		}

		div#resumes {
			justify-content: space-between;
			align-items: start;
			padding: 0 1vw;

			div.resume {
				div.preview {
					width: 80%;
				}

				p {
					font-size: 1.1em;
				}
			}
		}
	}

	footer {
		div.flex_container {
			flex-direction: column;

			div.left, div.right {
				width: 100%;
				margin-bottom: 2vh;

				div > span {
					font-size: 1.2em;
				}
			}

			div.left {
				margin-top: 2vh;

			}

			div.right {
				flex-direction: column;
				justify-content: flex-start;

				div {
					span {
						margin-top: 10px;
					}

					span::before, span:not(.git)::before {
						content: "";
						margin-right: 1vw;
					}
				}
			}
		}
	}
}